.blacktext {
    color: black;
}

.cityname {
    font-weight: 900;
    color: midnightblue;
}

.forecastcards {
    width:16em;
    align-items: center;
    text-align:center;
    display:inline-block;
}